[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
requests = "*"
ipython = "*"
pylint = "*"
parse = "*"

[requires]
python_version = "3.9"
