[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
autopep8 = "*"

[packages]
requests = "*"
ipython = "*"
pylint = "*"
parse = "*"
more-itertools = "*"
networkx = "*"
tqdm = "*"

[requires]
python_version = "3.9"
